.active{
  color: rgba(0, 0, 0, 0.7);
}
.nonfluid {
  width: auto !important;
}

.warpper{
  width: 800px;
  overflow: scroll;
}
table{
  width: 100%
}
/* thead tr{
  position: absolute;top: 0;display: table-row;
}
tbody{
  display: table-row-group; width: 100%
}
tbody tr{
  height: auto;
} */

